.header {
    width: 100%;
    padding-inline: 20px;
    border-bottom: 3px solid #ad9595;
    display: flex;
}

.header__btn {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 10px;
    padding: 0 40px 0 0 !important;
}